body{
    div.wpforms-container-full .wpforms-form{
        input[type="text"], input[type="email"], textarea{
            width: 527px;
            background-color: transparent;
            border: none;
            box-shadow: 0px 1px 0px;
            max-width: 100%;
            border-radius: 0px;
            font-family: mont-regular;
        }

        textarea:focus{
            border: none;
            box-shadow: 0px 1px 0px;
        }

        .wpforms-required-label{
            color: black;
        }
        button[type="submit"]{
            border-radius: 25px;
            background-color: white;
            font-family: mont-bold;
            border: none;
            padding: 10px 20px;
            transition: 0.2s;
            position:relative;
            left: 80%; 
        }
        button[type="submit"]:hover{
            border: none;
        }
    }

}